*{
    padding: 0;
    margin: 0;
    font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif    ;
}

body{
    background: url(/media/matriz.gif);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    background: #18171c;
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

a{
    padding: 10px;
    text-decoration: none;
    color: white;
}


nav a:hover{
    background: #373440;
}

.sobreMiConteiner{
    background-color: rgba(255, 255, 255, 0.158);
    height: 350px;
    width: 500px;


    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
}

.sobreMiConteiner p{
    font-size: 20px;
    color: white;
    margin: 20px;
    margin-left: 40px;
}

.sobreMiConteiner h1{
    color: white;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }


    nav{
        padding: 10px 0px;
    }
}